@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: Lato;
  color: #494949;
  width: 100%;
  top: 0;
  right: 0;
}

.main_heading {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Montserrat;
  margin: 25px;
}

.sub_heading {
  font-size: 26px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Montserrat;
  margin: 25px;
}

.main_div {
  margin-top: 100px;
}

.btn_div {
  margin-left: 25px;
}
.leftpane {
  display: inline-flex;
  width: 50%;
  align-items: center;
  margin-left: 50px;
}

.rightpane {
  display: inline-flex;
  float: right;
  width: 35%;
  align-items: center;
}

.login_form {
  width: 300px;
  float: right;
  margin-top: 100px;
}

.register_form {
  width: 300px;
  float: right;
  margin-top: 10px;
}

.input_txt {
  width: 300px;
  height: 45px;
  color: #494949;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  text-indent: 20px;
  font-family: Lato;
  margin-bottom: 15px;
}

.input_stxt {
  width: 300px;
  height: 50px;
  color: #494949;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  text-indent: 20px;
  font-family: Lato;
  margin-bottom: 25px;
}

.input_course {
  width: 500px;
  height: 45px;
  color: #494949;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  text-indent: 20px;
  font-family: Lato;
  margin-bottom: 15px;
}

.links {
  text-decoration: none;
  font-family: Lato;
  color: #ff5f5f;
  font-weight: 900;
}

.sbt_btn {
  width: 300px;
  height: 40px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #ff5f5f;
  border: 1px solid #eaeaea;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  font-family: Lato;
  margin-bottom: 15px;
}
.ssbt_btn {
  width: 400px;
  height: 50px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #ff5f5f;
  border: 1px solid #eaeaea;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  font-family: Lato;
  margin-top: 15px;
  margin-right: 100px;
}
.clk_btn {
  width: 300px;
  height: 40px;
  margin: 25px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #ff5f5f;
  border: 1px solid #eaeaea;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  font-family: Lato;
  margin-bottom: 15px;
  text-decoration: none;
  color: #fff;
}

.clk_btn a {
  text-decoration: none;
  color: #fff;
}
::placeholder {
  color: #cacaca;
}

/* SVG Animation Code Start */

svg#freepik_stories-plain-credit-card:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-plain-credit-card.animated
  #freepik--background-complete--inject-49 {
  animation: 6s Infinite linear floating;
  animation-delay: 1.5s;
}

svg#freepik_stories-plain-credit-card.animated #freepik--Shadow--inject-49 {
  animation: 6s Infinite linear shake;
  animation-delay: 0s;
}

svg#freepik_stories-plain-credit-card.animated #freepik--Character--inject-49 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 0s;
}

@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* SVG Animation Code Ends */

.tabbody tr td {
  border: 0px solid #494949;
  width: 200px;
  height: 50px;
  text-align: center;
}

table {
  margin: 100px;
}

.headerelememts {
  /* float: right; */
  height: 30px;
  /* border: 1px solid #494949; */
  box-shadow: 0px 2px 5px #cacaca;
  top: -20px;
}

.headerelememts a {
  margin-right: 50px;
  float: right;
  /* height: 100px; */
  /* border: 1px solid #494949; */
}
